


    *{
        box-sizing: border-box;
    }
    .img{
        width: 100%;
    }

    
    @media only screen and ( mind-with: 80rem){
        
        body{
            width: 80rem;
            margin: 0 auto;
            
        
            }
        
        
            }