/*columna 1 */

$white:#ffffff;

/*columna 2 */

$black:#000000;
$sable:#060606;
$charcoal:#2E1503;
$plomo:#566573 ;

/*columna 3 */

$tangerine:#ffAf6D;
$orange:#FFA500;

/*tipografia*/
$old-standart-tt:'Old Standard TT', serif;
$poppins:'Poppins', sans-serif;
$raleway:'Raleway', sans-serif;
$ubuntu:'Ubuntu', sans-serif;

/*peso de fuente */

$Regular: 400;
$Bold: 700;
$Regular-italic: 400; 
$Bold: 700;

/*tamaño de fuente */
$xxxxx-large:50px;
$xxxx-large:45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-samll:12px;



